/cmake-build-debug
/CMakeFiles
calculator
calculator.cbp
cmake_install.cmake
CMakeCache.txt
Makefile
rdkafka_version_test.cpp
hiredis/
libs/
modern-cpp-kafka/
rapidjson/
redis-cpp/
Testing/
.env
config.json